.pagination {
    justify-content: space-between;

    &--mobile {
    }

    &--desktop {
    }

    .pages {
        position: relative;
    }

    .page, .holder {

        &.is-active {
            .btn__paging {
                @include font($font-semibold);
                opacity: 1;
                color: $brand-primary;
            }
        }
    }

    .underline {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 3px;
        background-color: $brand-primary;
        transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
}
